h1 {
  font-family: monospace;
}

h5 {
  font-family: monospace;
}

.about-fullscreen{
  /* min-height: 100vh; */
  /* width: 100%; */
  background-color: rgba(50,123,75,0.3);
}

.Paragraph {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 10px 10px 10px 10px;
  background:  #b7f9f7;
  border: 2px solid #7cece8;
  border-radius: 5px;
}

.progress {
  margin: 20px 20px 20px 20px;
  font-size: 13px;
  height: 35px;
}

.progress:hover {
  background-color: grey !important;
}

.next{
  position: relative;
  transform: rotate(-90deg);
  cursor: pointer;
  left: 70%;
}

.back{
  position: relative;
  transform: rotate(90deg);
  cursor: pointer;
  left: 30%;
}

@media (max-width:768px) {
  .hideOnMobile{
    display: none;
  }
}
@media (min-width:769px) {
  .showOnMobile{
    display: none;
  }
}

.animate {
  animation: animate 1s;
}

@keyframes animate {
  from { transform:translateX(100%) }
}
