h1 {
  font-family: monospace;
}

h5 {
  font-family: monospace;
}

.about-fullscreen{
  height: 100vh;
  width: 100%;
  background-color: rgba(50,123,75,0.3);
}

.Paragraph {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  padding: 10px 10px 10px 10px;
  background:  #b7f9f7;
  border: 2px solid #7cece8;
  border-radius: 5px;
}

.progress {
  margin: 20px 20px 20px 20px;
  font-size: 13px;
  height: 35px;
}

.progress:hover {
  background-color: grey !important;
}

@media (max-width:480px) {
  .progress {
    font-size: 10px;
  }
}

/* .skill {
  padding-top: 10px;
  margin: 10px 10px 10px 10px;
  background:  #b7f9f7;
  border: 2px solid #7cece8;
  border-radius: 5px;
} */
