.Github {
  font-family: monospace;
  padding-top: 10vh;
  height: 80vh;
  text-align: center;
}

.github-img {
  height: 20vh;
  width: auto;
}

.progress-bar-github{
  animation: progress-run 2s;
}

@keyframes progress-run {
  from{width:0}
}

@media (max-height:360px) {
  .Github {
    padding-top: 0;
  }
  .Github h2 {
    font-size: 15px;
  }

  .Github h5 {
    font-size: 12px;
  }

  .Github .progress {
    height: 20px !important;
  }
}
