.profile{
  padding-top: 10vh;
  height: 80vh;
}

.img {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

@media (max-width:768px) {
  .profile{
    padding-top: 15vh;
    height: 80vh;
  }
  .img {
    width: 60%;
    height: auto;
    border-radius: 50%;
    margin: auto;
  }
}
