.skill-wrapper{
  position: fixed;
  top: 0;
  display: flex;
  width: 70%;
  /* z-index: 500; */
  right: -55%;
  transition: 1s;
}

.skill-wrapper:hover , .skill-wrapper:active {
  cursor: pointer;
  transition: 1s;
  right: 0%;
}

@media (min-width:768px) {
  .skill-wrapper{
    width: 40%;
    right: -35%;
  }
}

.toggler {
  margin-top: 45vh;
  height: 30px;
  width: 100px;
  text-align: center;
  transform: rotate(-90deg);
  color: rgba(199,49,199,0.9);
  border: 1px solid rgba(123,123,123,0.8);
  border-radius: 10px;
  background-color: rgba(10,10,10,0.2);
}

.skill-progress {
  width: 100%;
  margin-top: 5vh;
}

.bg-none {
  background-color: rgba(0,0,0,0) !important;
}

.bg-grey {
  background-color: grey !important;
}

.control {
  text-align: right;
  padding-right: 20px;
  color: rgb(255,215,0);
  /* text-shadow:
   -1px 0px 0 #FFFFFF,
    1px 0px 0 #FFFFFF,
    0px 1px 0 #FFFFFF,
     1px 0px 0 #FFFFFF; */
  width: 100%;
}
