.line-item {
  width: 80%;
  height: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  margin: auto;
}

.item {
  height: 15vh;
  color: rgba(255,255,255,0.7);
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.pointer {
  cursor: pointer !important;
}

@media (max-width:768px) {
  .line-item{
    border: 0px solid white;
  }
  .text-mobile {
    color: var(--menu-bar-mobile);
  }
}
