.navbar {
  display: inline;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100vh;
  background-color: black;
}

.navbar-text {
  color: white;
  font-size: 10px;
  text-align: center;
  margin-left: 5px;
}

.nav-line {
  margin: auto;
  margin-top: -30px;
  border-bottom: 1px solid rgba(255, 255 , 255, 0.6);
  height: 1px;
  width: 60%;
}

.development {
  border: 1px solid red;
}

@media (max-width:768px) {

}
