.about {
  display: flex;
}

.navSpace {
  margin-left: 60px;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  from { opacity:0.7 }
}

@media (max-width:768px) {
  .about {
    display: block;
  }

  .navSpace {
    margin-left: 0;
    margin-top: 0;
  }
}
